@model JdepazExcel.Models.MarcasEmpresa

@{
    ViewData["Title"] = "Registrar Marca en Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar Marca en Empresa</h1>

<h4>MarcasEmpresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoMarca" class="control-label"></label>
                <select asp-for="CodigoMarca" class ="form-control" asp-items="ViewBag.CodigoMarca"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodigoEmpresa" class="control-label"></label>
                <select asp-for="CodigoEmpresa" class ="form-control" asp-items="ViewBag.CodigoEmpresa"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodigoSucursal" class="control-label"></label>
                <select asp-for="CodigoSucursal" class ="form-control" asp-items="ViewBag.CodigoSucursal"></select>
            </div>
            <div class="form-group">
                <label asp-for="Detalles" class="control-label"></label>
                <input asp-for="Detalles" class="form-control" />
                <span asp-validation-for="Detalles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
